<h2>Editing Job</h2>
<br>
{{ include('_form.twig') }}
<hr>
<p>
	{{ html_anchor('' ~ actions.view.url ~ '/' ~ job.id ~ '', '' ~ actions.view.label ~ '',{'class':'btn btn-primary'}) }} |
	{{ html_anchor('' ~ actions.back.url ~ '','' ~ actions.back.label ~ '',{'class':'btn btn-primary'}) }}
</p>

